@font-face {
  font-family: 'moji'; 
  src: url('/rikagakubu/chogokubosogothic_5.ttf') format('truetype');
}
nav {
ã€€font-family: 'moji', sans-serif
}

.button-16 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: #00b5ad;
  border-radius: 50%;
  transition: 0.3s;
}

.button-16:hover {
  transform: translateY(-3px);
}

.fa-chevron-up {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.4em;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


nav{
  width: 700px;
  background-color: White;
  display: flex;
  justify-content: space-around;
}
ul{
  width: 50%;
 display: flex;
 justify-content: space-around;
}
li{
  list-style: none;
}
