@font-face {
  font-family: 'moji'; 
  src: url('https://akooimak15.github.io/rikagakubu/chogokubosogothic_5.ttf') format('truetype');
}

body {
　font-family: 'moji', sans-serif
}

.button-16 {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: #00b5ad;
  border-radius: 50%;
  transition: 0.3s;
}

.button-16:hover {
  transform: translateY(-3px);
}

.fa-chevron-up {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.4em;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*FontAwesomeを使用しています。*/
.header-8 {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
}

.box {
  box-sizing: border-box;
}

/* ========== header ========== */
.box-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8px;
}

.logo-img {
  width: 10px;
}

.sp-nav {
  display: none;
}

/* ========== nav ========== */
.box-nav {
  width: 100%;
  height: 40px;
}

.inner-nav {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  padding: 0;
  margin: 0 auto;
  line-height: 40px;
  list-style: none;
}

.menu {
  position: relative;
  padding: 0 4em;
  cursor: pointer;
}

.menu:not(:first-of-type)::before {
  position: absolute;
  top: 25%;
  left: 0;
  width: 1px;
  height: 50%;
  content: '';
  background: #3a3a3a;
}

.menu:hover {
  opacity: 0.7;
}

/* ========== sp ========== */
@media screen and (max-width: 480px) {
  .header-8 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 0.8em;
  }

  .box-nav {
    display: none;
  }

  .sp-nav {
    display: block;
  }

  .box-logo {
    height: 6px;
  }

  .logo-img {
    width: 7px;
  }
}
